header {
  display: flex;
  align-items: : center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items:center;
  flex-grow: 1;
  color: mediumaquamarine;
}
.logo span {
  color: mediumaquamarine;
}
nav span {
  display: inline-block;
}
