body {
  display: block;
  color: black;
}

header {
  display: flex;
  align-items: : center;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items:center;
  color: mediumaquamarine;
}
.logo span {
  color: mediumaquamarine;

}
nav span {
  display: inline-block;
}
