header {
  display: flex;
  align-items: : center;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  color: mediumaquamarine;
}
.logo span {
  color: mediumaquamarine;

}
